* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #ddd;
}

body {
  max-width: 900px;
  min-width: 300px;
  min-height: 500px;
  margin: 5px auto 0;
  border: 1px solid #6e6e6e;
  border-radius: 10px;
  background-color: white;
}

/**************** ここまで共通 ****************/

.description h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.description {
  padding-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px;
  margin: 0 auto;
}

.box {
  padding: 10px;
}

.box-center {
  text-align: center;
}

textarea {
  height: 300px;
  width: 300px;
  padding: 3px;
  font-size: 12px;
  resize: none;
}
