* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #ddd;
}

body {
  max-width: 900px;
  min-width: 300px;
  min-height: 500px;
  margin: 5px auto 0;
  border: 1px solid #6e6e6e;
  border-radius: 10px;
  background-color: white;
}

/**************** ここまで共通 ****************/

.description h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.description {
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px 0px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.score-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.score-title {
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.box {
  width: 400px;
  border: 1px solid #6e6e6e;
  background-color: #333;
}

.score-box p {
  text-align: center;
  color: #898989;
}

.score-box-sum {
  padding-left: 30px;
  padding-right: 10px;
}

.score-box-getMGP {
  padding-left: 15px;
  padding-right: 40px;
}

li {
  text-align: right;
  color: #ccb665;
}

.score-box-getMGP li {
  text-align: right;
  color: #fff;
}
